#bannerimg_home {
	width:100%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bannerimg_contact {
	text-align: right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#banner {
	text-align: center;
	height: 130px;
	padding-top: 15px;
}

#banner_par {
	color: white;
	font-size: 70px;
	font-family: 'Bangers', cursive;
	letter-spacing: 20px;
	word-spacing: 5px;
}

#Home {
	background-image: url("../Icons/Background.jpg");
}

#Contact {
	background-image: url("../Icons/Background_contact.jpg");
}

#Video {
	background-image: url("../Icons/Background_video.jpg");
}

#Project {
	background-color: black;
}

#nav {
	text-align: center;
	background: #800000;
	padding-top: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: Impact;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 26px;
	word-spacing: 50px;
}

#nav_contact {
	text-align: left;
	border-bottom-style: outset;
	border-bottom-width: 3px;
	border-bottom-color: black;
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Indie Flower';
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 26px;
	word-spacing: 50px;
}

#nav_video {
	position: fixed;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 26px;
	float:right;
}

#nav_project {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 40px;
	float:center;
	word-spacing: 180px;
}

.button_contact {
	color: maroon;
	text-decoration: none;
}

.button_video {
	color: maroon;
	text-decoration: none;
}

#video_nav {
	list-style-type: none;
}

.button_contact:hover {
	color: black;
	font-size: 34px;
	font-weight: 800;
	cursor: pointer;
}

.button_video:hover {
	color: white;
	font-size: 34px;
	font-weight: 800;
	cursor: pointer;
}

.button_home {
	color: white;
	text-decoration: none;
}

#contact {
	text-decoration: none;
	word-spacing: 0px;

}

.button_home:hover {
	color: black;
	font-size: 34px;
	font-weight: 800;
	cursor: pointer;
}

.button_project {
	color: maroon;
	text-decoration: none;
}

.button_project:hover {
	color: white;
	font-size: 34px;
	font-weight: 800;
	cursor: pointer;
}

#portfolio {
	width: 100%;
}

#pars {
	text-align: center;
	border-width: 2px;
	border-style: outset;
	border-color: black;
	width:29.85%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	float: left;
}

#profile {
	text-align: center;
	float:left;
	width:42%;

}

#profile_contact {
	text-align: right;
}

#profile_project {
	padding-left: 1180px;
	position: fixed;
}


#profile_pic {
	height: 170px;
	width: 170px;
	border-color: #000072;
	border-style: outset;
	border-width: 10px;
	border-radius: 20px;
}

#profile_pic_contact {
	height: 70px;
	width: 70px;
	border-color: #000072;
	border-style: outset;
	border-width: 5px;
	border-radius: 20px;
}

#profile_pic_video {
	height: 70px;
	width: 70px;
	border-color: #000072;
	border-style: outset;
	border-width: 5px;
	border-radius: 20px;
	float: left;
}

#profile_name {
	font-family:Georgia,serif;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
	font-size: 30px;
	letter-spacing: 5px;
	color: white;
}

#slideshow_image {
	text-align: center;
	width: 27%;
	float: right;
	
}

#slideshow {
    height: 225px;
    -moz-box-shadow:    3px 6px 12px 6px #262526;
    -webkit-box-shadow: 3px 6px 12px 6px #262526;
    box-shadow:         3px 6px 12px 6px #262526;
}

p1 {
	font-family:Georgia,serif;
	font-size: 20px;
	color:#917F70;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
}

#list_contact {
	margin-top: 100px;
}

.list {
	font: 20px/1.5 'Pacifico', Helvetica, sans-serif;
  	color: #2b2b2b;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  	padding: 8px;
}

#video {
	text-align: center;
}

#movie {
	text-align: center;
	border-style: inset;
	border-width: 5px;
	border-color: grey;
	width: 640px;
	height: 360px;
}

#screenshot {
	float: left;
	margin-left: 140px;
	margin-top: 140px;
	position: relative;
}

#screenshot2 {
	float: left;
	margin-left: 200px;
	margin-top: 140px;
	position: relative;
}

#screenshot3 {
	float: left;
	margin-left: 140px;
	margin-top: 140px;
	position: relative;
}

#screenshot4 {
	float: left;
	margin-left: 200px;
	margin-top: 140px;
	position: relative;
}

#img1 {
	height: 300px;
	width: 360px;
}

#img2 {
	height: 300px;
	width: 360px;
}

#img3 {
	height: 300px;
	width: 360px;
}

#img4 {
	height: 300px;
	width: 360px;
}

.imgDescrp {
	position: absolute;
	height: 100px;
	text-align: center;
	padding-top: 200px;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(208,208,208,0.5);
  	color: black;
  	font-family: 'Shadows Into Light', cursive;
  	font-size: 24px;
  	visibility: hidden;
}

.imgpar {
	position: absolute;
	height: 70px;
	text-align: center;
	padding-top: 230px;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(208,208,208,0.5);
  	color: black;
  	font-family: 'Shadows Into Light', cursive;
  	font-size: 16px;
  	visibility: hidden;
}

#screenshot:hover .imgDescrp , #screenshot2:hover .imgDescrp , #screenshot3:hover .imgDescrp , #screenshot4:hover .imgDescrp {
  visibility: visible;
}

#screenshot:hover .imgpar , #screenshot2:hover .imgpar , #screenshot3:hover .imgpar , #screenshot4:hover .imgpar {
  visibility: visible;
}
