/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & ___Khaled Salem__________
 */

.epf_edit_vbox {
    -fx-background-radius: 25.0;
    -fx-background-color: #0a510a;
    -fx-effect: innershadow(one-pass-box,blue, 35, 0.0, 0, 0);
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 12px;
}

.slide_show_vbox {
    -fx-background-color: derive(yellow, 25%);
    -fx-effect: innershadow(two-pass-box,green, 20, 0.0, 0, 0);
    
    
}

.slide_edit_view {
    -fx-padding: 20 25 20 20;
    -fx-background-radius: 20.0;
    -fx-background-color: rgb(90, 240, 90);
    -fx-border-thickness: 400px;
    -fx-spacing: 60px;
}

.caption_label {
    -fx-effect: dropshadow(gaussian, black, 2, 0.0, 0, 0);
    -fx-font: bold italic 12pt "Serif";
}

.caption_TextField {
    -fx-background-color: derive(yellow, 45%);
    -fx-border-radius: 25.0;
    -fx-effect: dropshadow(one-pass-box, black, 15, 0.0, 0, 0);
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: derive(darkred, 20%);
}

.vertical_toolbar_button {
    -fx-padding: 10px;
    -fx-background-color: derive(white, 35%);
    -fx-effect: innershadow(two-pass-box,black, 20, 0.0, 0, 0);
    -fx-cursor: hand;
}

.slide_show_filetoolbar {
    -fx-background-radius: 20.0;
    -fx-background-color: #0a510a;
    -fx-effect: innershadow(one-pass-box,blue, 35, 0.0, 0, 0);
    -fx-alignment: CENTER;
    -fx-spacing: 25px;
}

.horizontal_toolbar_button {
    -fx-padding: 15px;
    -fx-base: #e5e5e5;
    //-fx-background-color: derive(white, 35%);
    //-fx-effect: innershadow(two-pass-box,blue, 20, 0.0, 0, 0);
    -fx-cursor: hand;
}

.border_style {
    -fx-effect: innershadow(one-pass-box, black, 50, 0.0, 0, 0);
    
}

.workspace {
    //-fx-base: #E5E5E5;
    -fx-background-color: #161656;
    -fx-effect: innershadow(two-pass-box,red, 20, 0.5, 0, 0);
    -fx-border-radius: 15px; 
}

.alert {
    -fx-background-color: #161656; 
    -fx-effect: innershadow(two-pass-box,red, 20, 0.5, 0, 0);
    -fx-border-radius: 15px; 
    -fx-font-family:'Brush Script MT', cursive; 
    -fx-font-size: 18px;
}

.alert .label {
    -fx-text-fill: white;
}

.tabPane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}


.tab{
    -fx-background-outsets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.page_workspace {
    -fx-background-color: #fdf7ef;
    -fx-padding: 5 10 10 5;
    -fx-spacing: 10px;
}
